@font-face {
    font-family: 'Open Sans', sans-serif;
}

a {
	text-decoration: none;
}

body {
	width: 100%;
	margin: 0;
	background: #f4f4f4;
	font-family: 'Open Sans';
	padding-top: 0px;
}

.header {
	position: fixed;
	top: 0px;
	width: 100%;
	height: 50px;
	background: #2080b8;
	opacity: 0.9;
	z-index: 10;
}

.header_logo {
	display: block;
	position: absolute;
	left: 0px;
	width: 140px;
	margin-left: 0px;
	margin-top: 5px;
	color: white;
	font-size: 27px;
}

.header_logo span {
	display: block;
	position: relative;
	margin-left: 40px;
}

.header_logo img {
	display: block;
	position: absolute;
	width: 40px;
	height: 50px;
	margin-top: -8px;
}

.header .go_to_my_pings, .header .go_to_all_pings {
	display: block;
	position: absolute;
	right: 10px;
	top: 15px;
	text-decoration: underline;
}

.header .go_to_my_pings a, .header .go_to_all_pings a {
	color: white;
}

#main_buttons {
	display: block;
	position: relative;
	width: 100%;
	height: 210px;
	left: 0;
	margin: 0;
}

#main_question {
	display: block;
	position: relative;
	text-align: center;
	font-size: 19px;
	margin: 15px 0 15px 0;
}

.type_button {
	display: block;
	position: absolute;
	height: 50px;
	width: 130px;
	text-align: center;
	background-color: white;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-left: 1px solid red;
	color: black;
}

.choose_type {
	display: block;
	position: relative;
	margin-top: 65px;
	height: 200px;
	width: 300px;
	left: 50%;
	margin-left: -150px;
	background: white;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
}

.type_button span {
	display: block;
	margin-top: 15px;
}

#food_button, #event_button {
	left: 50%;
	margin-left: -135px;
}

#study_button, #active_button {
	left: 50%;
	margin-left: 5px;
}

#event_button, #active_button {
	top: 60px;
}

.timeline {
	display: block;
	position: relative;
	margin: 0 0 20px 0;
}

.my_pings_timeline {
	display: block;
	position: relative;
	margin: 70px 0 20px 0;
}

.timeline_item {
	display: block;
	position: relative;
	width: 260px;
	padding: 0px 20px 0px 20px;
	left: 50%;
	margin: 15px 0 0 -150px;
	background: white;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
}

.timeline_item img {
	display: block;
	position: absolute;
	width: 13px;
	height: 13px;
	z-index: 2;
	right: 5px;
	top: 4px;
}

.timeline_item .timeline_name {
	display: block;
	position: relative;
	color: white;
	width: 270px;
	margin-left: -20px;
	padding-left: 30px;
	background: #2080b8;
}

.timeline_item .timeline_wants_to {
	display: block;
	position: relative;
}

.timeline_item .timeline.time {
	display: block;
	position: relative;
}

.timeline_item .timeline_details {
	display: block;
	position: relative;
	color: grey;
	font-style: italic;
}

#login_pinguin {
	display: block;
	position: relative;
	left: 50%;
	margin-left: -80px;
	margin-top: 70px;
	width: 160px;
	height: 200px;
}

#login_facebook {
	text-align: center;
	font-size: 18px;
}

.add_details {
	display: block;
	position: relative;
	padding: 0 20px 10px 20px;
	margin: 70px 0 10px 0;
	width: 260px;
	left: 50%;
	margin-left: -150px;
	font-size: 18px;
	border: 1px solid black;
	background-color: white;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-left: 1px solid red;
}

.add_details span {
	display: block;
	position: relative;
	margin-top: 10px;
	margin-bottom: 8px;
}

.details_question_input {
	width: 100%;
}

.when {
	display: block;
	position: relative;
	padding: 0 20px 0 20px;
	width: 260px;
	left: 50%;
	margin-left: -150px;
	background-color: white;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-left: 1px solid red;
	text-align: center;
}

.when span {
	display: block;
	position: relative;
	font-size: 18px;	
	margin: 10px 0 10px 0;
}

.when .now_or_later {
	font-size: 20px;
	margin-bottom: 10px;
}

.when .when_start_time {
	display: block;
	position: relative;
	margin: 10px 0 0 0;
	padding-bottom: 10px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
}

.when .when_start_time span {
	font-size: 19px;
}

.when .when_duration {
	display: block;
	position: relative;
	margin: 20px 0 15px 0;
	height: 50px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
}

.when .when_duration span {
	display: block;
	position: absolute;
	text-align: left;
	font-size: 19px;
	margin: 14px 0 0 40px;
}

.when .when_duration .duration_entry {
	display: block;
	position: relative;
	margin: 18px 0 0 140px;
}

.when_next_button, .who_submit_button, .go_home_button {
	display: block;
	position: relative;
	width: 300px;
	left: 50%;
	margin: 10px 0 0 -150;
	height: 50px;
	text-align: center;
	border: 1px solid black;
	background: #2080b8;
	color: white;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	text-align: center;
	margin-bottom: 20px;
}

.when_next_button span, .who_submit_button span, .go_home_button span {
	display: block;
	position: relative;
	font-size: 20px;
	margin-top: 13px;
}

.people_to_share {
	display: block;
	position: relative;
	margin-top: 70px;
	width: 260px;
	padding: 10px 20px 10px 20px;
	left: 50%;
	margin-left: -150px;
	border: solid transparent;
	border-color: rgba(0,0,0,.2);
	border-radius: 3px;
	border-width: 1px 1px 2px 1px;
	border-left: 1px solid red;
	text-align: center;
}

.people_to_share > span {
	display: block;
	position: relative;
	text-align: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.groups_checklist {
	display: block;
	position: relative;
	width: 220px;
	padding: 10px 20px 10px 20px;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
}

.groups_checklist .group_checkbox {
	text-align: left;
}

.groups_checklist .group_checkbox input {
	display: block;
	position: relative;
	right: 0px;
	float: right;
}

.divider_matched, .divider_all_pings {
	display: block;
	position: relative;
	width: 300px;
	left: 50%;
	margin: 15px 0 -10px -150px;
}

.divider_matched span, .divider_all_pings span {
	display: block;
	position: relative;
	height: 12px;
	font-size: 15px;
}

.success {
	display: block;
	position: relative;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 60px;
}